<div class="table-wrapper">
    <a href="https://twitter.com/a_shkrnk" class="div-table-row">
        <div class="div-table-col left-column hover-underline">twitter.com/</div>
        <div class="div-table-col middle-column hover-underline">a_shkrnk</div>
        <div class="div-table-col right-column">&nbsp;</div>
    </a>
    <a href="https://github.com/antonshkurenko" class="div-table-row">
        <div class="div-table-col left-column hover-underline">github.com/</div>
        <div class="div-table-col middle-column hover-underline">antonshkurenko</div>
        <div class="div-table-col right-column">&nbsp;</div>
    </a>
</div>
