/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:5709b1a350e8e91eedb12800ec483bf2:9a45202a2a5deeb8f1f7dcf40fdd6e7b:73f943f7f691a4bb1102055cb9ff46ed$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons_sprite.png);}

.askfm {width:32px; height:32px; background-position: -2px -2px}
.at {width:32px; height:32px; background-position: -36px -2px}
.facebook {width:32px; height:32px; background-position: -70px -2px}
.github {width:32px; height:32px; background-position: -104px -2px}
.heart {width:32px; height:32px; background-position: -138px -2px}
.instagram {width:32px; height:32px; background-position: -172px -2px}
.skype {width:32px; height:32px; background-position: -206px -2px}
.tumblr {width:32px; height:32px; background-position: -240px -2px}
.twitter {width:32px; height:32px; background-position: -274px -2px}
.vk {width:32px; height:32px; background-position: -308px -2px}
.youtube {width:32px; height:32px; background-position: -342px -2px}
