

.sprite {
	display:inline-block;
	overflow:hidden;
	background-repeat: no-repeat;
	background-image:url(icons/icons_sprite.png);

	opacity:0.4;

	transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-webkit-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;}

.sprite:hover {
	opacity: .8;
}

.at {width:32px; height:32px; background-position: -2px -2px}
.facebook {width:32px; height:32px; background-position: -36px -2px}
.github {width:32px; height:32px; background-position: -70px -2px}
.instagram {width:32px; height:32px; background-position: -2px -36px}
.linkedin {width:32px; height:32px; background-position: -36px -36px}
.skype {width:32px; height:32px; background-position: -70px -36px}
.tumblr {width:32px; height:32px; background-position: -2px -70px}
.twitter {width:32px; height:32px; background-position: -36px -70px}
.vk {width:32px; height:32px; background-position: -70px -70px}
