@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	font-family: 'SourceSansProRegular', sans-serif;
	overflow: hidden;
}

.amazing {
	z-index: 777;
	color: rgba(255, 255, 255, .85);
	margin: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

    background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);

    visibility: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.amazing:hover {
	cursor: default;
}

#bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
}

.introduce {
	font-size: 18px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	box-shadow: 0 0 20px 1px rgba(0,0,0,.5);
	background-color: rgba(22, 22, 22, .75);
	border-radius:5px;
	padding:3px;
	color: rgba(255, 255, 255, .8);
	font-size:12px Arial;
	z-index: 999;
}

q {
	font-style: italic;
}

q::before {
	content: '«';
}

q::after{
	content: '»';
}

hr {
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255,0.75), rgba(255, 255, 255, 0));
    background-image:    -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255,0.75), rgba(255, 255, 255, 0));
    background-image:     -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255,0.75), rgba(255, 255, 255, 0));
    background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255,0.75), rgba(255, 255, 255, 0));
}

.draggable {
	width: 444px;
}

.follower {
	position: absolute;
}

#songs {
	position: absolute;
	height: 220px;
	width: 300px;
	list-style-type: decimal;
}

#songs-content {

	height: 70%;
	position: relative;
	overflow: hidden;
	margin-top: 0px;
}

#guitar-hero {
	background-image: url('icons/guitar_hero.png');
	opacity: 0.4;
	height: 32px;
	width: 32px;
	display:inline-block; 
	overflow:hidden; 
	background-repeat: no-repeat;
	float: right;
	margin-top: 5px;
}

.songs-header {
	display: inline-block;
	margin: 10px 0px 5px 5px;
}

ol {
	padding: 0px;
}

li {
	margin: 5px;
}

li a {
	color: rgba(255, 255, 255, .65);
	text-decoration: none;

	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;

	transition: color .3s;
	-moz-transition: color .3s;
	-webkit-transition: color .3s;
	-o-transition: color .3s;
}

li a:hover {
	color: rgba(255, 255, 255, .85);
}