* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#name-scene {
    list-style-type: none;
    padding: 0;
}

#bg-canvas {
    display: block;
}

.letters {
    font-size: 32px;
    animation: fadein 2s;
    text-shadow: -1px -1px white, -1px 1px white, 1px -1px white, 1px 1px white;
}

.letter {
    transition: 200ms linear all;
}

.container-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.running-text-container {
    overflow: hidden;
    white-space: nowrap;
}

.running-text-block {
    display: inline-block;
}

.floating-text-block {
    position: fixed;
    display: inline-block;
}

.urls-block {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 52px;
    font-size: 18px;
}

.table-wrapper {
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: 52px;
    font-size: 18px;
    font-style: italic;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
    text-shadow: -1px -1px white, -1px 1px white, 1px -1px white, 1px 1px white;
}

.div-table-col {
    display: table-cell;
    min-width: 100px;
    vertical-align: baseline;
}

.left-column {
    text-align: right;
}

.middle-column {
    text-align: center;
    width: auto;
    font-size: 20px;
}

.right-column {
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
}

a:hover .hover-underline {
    box-shadow: inset 0 -1.5px 0 white, inset 0 -2.5px 0 black;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.keys-table {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.grid-fullsize {
    height: 0px !important;
    width: 100% !important;
}

.grid-item {
    width: 200px;
    height: 320px;
    margin-bottom: 10px;
}

.description-item {
    width: 500px;
    height: 320px;
    margin-bottom: 10px;
}

.key-title {
    margin-top: 8px;
    text-align: center;
}

.center-cropped {
    width: 200px;
    height: 220px;
    background-size: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform .2s;
}

.center-cropped:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.home-url {
    margin-left: 100px;
    margin-top: 100px;
    font-size: 50px;
}

.small-url {
    font-size: 16px;
    font-style: italic;
}

.couldbe-title {
    margin-left: 100px;
    margin-top: 0px;
    font-size: 50px;
}

#couldbe {
    margin-bottom: 100px;
}

.pswp img {
    max-width: none;
    object-fit: contain;
}
