body {
	position: relative;
	font-family: 'Roboto';
}

.content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-table {
    display: table;
    width: auto;
    border-spacing: 0 8px;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    display: table-cell;
    min-width: 150px;
    vertical-align: baseline;
}

.left-column {
    text-align: right;
    background: #dfdfdf; /* debug purposes */
}

.middle-column {
    text-align: center;
    width: auto;
    background: #cecece; /* debug purposes */
    font-size: 28px;
}

.right-column {
    text-align: left;
    background: #a8a8a8; /* debug purposes */
}
