#amazing {
	z-index: 999;
	color: white;
	margin: 15px;
	padding: 15px;
	width: 400px;
	background: rgba(34,34,34,0.25);
	border: solid 1px black;
}

#bg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
}